<span class="error" *ngIf="control.invalid
              && (control.touched || form?.submitted)">
  Erreur :
  <span *ngIf="control.hasError('required')">
    ce champ est obligatoire</span>
  <span *ngIf="control.hasError('minlength')">
    il faut au moins
    {{control.errors['minlength'].requiredLength}}
    caractères</span>
  <span *ngIf="control.hasError('pattern')">
    le format est incorrect</span>
  <span *ngIf="control.hasError('zipcode')">
    le code postal doit avoir 4 ou 5 chiffres selon le pays</span>
  <span *ngIf="control.hasError('email')">
    l'adresse email est incorrecte</span>
  <span *ngIf="control.hasError('domain')">
    vous devez utiliser une adresse email en
    @{{control.errors['domain'].requiredDomain}}</span>
</span>
